@media (hover:hover) {
  .search button:hover{
    background-color: rgb(0, 39, 101);
  }
}
@media (max-width:425px) and (min-width:376px){
  .todo-app{
    padding: 40px 15px 80px;
    margin: 100px 10px 20px;
  }
  .search input{
    font-size: 16px;
  }
  .search input::placeholder{
    font-size: 16px;
  }
  button{
    width: 90px;
  }
  ul li span{
    background: #edeef0;
  }
}
@media (max-width:375px) and (min-width:321px){
  .todo-app{
    padding: 40px 10px 80px;
    margin: 100px 10px 20px;
  }
  .search input{
    font-size: 16px;
  }
  .search input::placeholder{
    font-size: 16px;
  }
  button{
    width: 75px;
  }
  ul li span{
    background: #edeef0;
  }
}
@media (max-width:320px){
  .todo-app{
    padding: 40px 5px 80px;
    margin: 100px 5px 20px;
  }
  .search input{
    font-size: 16px;
  }
  .search input::placeholder{
    font-size: 16px;
  }
  button{
    width: 70px;
  }
  ul li span{
    background: #edeef0;
  }
}